# For Backend dependencies
fastapi[all]
uvicorn[standard]
gunicorn
sqlalchemy
alembic
websockets
asyncio
python-dotenv
python-multipart
bcrypt
cloudinary
resend
databases
slowapi
asyncpg
psycopg2-binary==2.9.11
celery
redis
python-jose[cryptography]
pinecone
kombu
apscheduler
asgiref
httpx
openai
exponent-server-sdk
pdfplumber
numpy
shapely